# Environment variables
.env

# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Operating System
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Audio files
*.wav
recording_*